.container-fluid
  .col-sm-2
  .col-sm-8
    section
      h3 Titulo do Livro: {{post.title}}
      h3 Autor: {{post.autor}}
      h3 Valor: R$:{{post.valor}}
      div Descrição: {{post.text}}
  .col-sm-2
